---
layout: default
---

<div class="home-section">
  <div>
    <div class="profile-image-container">
        <img src="../assets/images/profile-img.JPEG" alt="" class="profile-image">
    </div>
    <h3>AI</h3>
    <h4 class="">CIS Student and Research Assistant at Athabasca University</h4>
  </div>
  <div style="display: flex; flex-direction: column; gap: 12px;">
    <h1>Raymond Morland</h1>
    Sit adipisicing nostrud in cupidatat labore ut occaecat ipsum consequat.
    Amet Lorem fugiat et excepteur sunt anim sit voluptate excepteur deserunt
    non. Incididunt culpa cillum irure consectetur.
    <p></p>
  </div>
</div>
<div></div>
